<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>mobile</title>
    <link rel="stylesheet" href="dist/css/theme.css">
  </head>
  <body>
    <div class="g-window">
      <div class="g-inherit m-album">
        <div id="form-data" class="g-center m-login" style="display:none">
          <div class="cells cells-log">
            <img class="logo" :src="logo">
          </div>
          <div class="cells">
            <div class="cell cell-ipt">
              <span class="icon icon-account"></span>
              <input type="text" class="ipt ipt-account" maxlength="20" v-model="account" placeholder="请输入您的帐号"/>
            </div>
            <div class="cell cell-ipt">
              <span class="icon icon-pwd"></span>
              <input type="password" class="ipt ipt-account" maxlength="20" v-model="password" placeholder="请输入您的密码"/>
            </div>
          </div>
          <div class="cells cells-record">
            <span @click="rbPassword" ref="checkPassword">
              <input  v-model="checkPassword" id="checkbox-color1" type="checkbox"/><label for="checkbox-color1"></label>
              <i>记住密码</i>
            </span>
            <span @click="autoLogin" ref="checkAuto">
              <input  v-model="checkAuto" id="checkbox-color2" type="checkbox" /><label for="checkbox-color2"></label>
              <i>自动登录</i>
            </span>
          </div>
          <div class="cells">
            <button v-if="isLogin" type="button" class="btn btn-login" @click="login">登录</button>
            <button v-else type="button" class="btn btn-login">登录中</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 如果需要真机调试，可以修改此行 -->
    <!-- // <script src="http://192.168.1.104:2002/target/target-script-min.js#anonymous"></script> -->
    <script src="dist/js/login.js"></script>
  </body>
</html>